@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,400;1,600&display=swap');

/*--------------GLOBAL SELECTORS*--------------------*/
:root {
    --clr-primary: #3581B8;
    --clr-header: #0D3B66;
    --clr-gray: #37474f;
    --clr-platinum: #EBE9E9;
}

* {
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
}

/*---------------------JUMBOTRON-------------------*/
.jumbotron {
    font-size: 20px;
    padding: 30px;
    padding-left: 50px;
    background-color: var(--clr-header);
    text-align: justify;
    color: white;
}

/*-------------NAVIGATION BAR----------------------*/
nav {
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar {
    width: 100%;
    background: var(--clr-primary);
    padding: .15rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
    font-size: 22px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    transition: all 200ms ease-in;
}

.nav-item a:hover {
    color: white;
    font-weight: bold;
}

.nav-item:first-child {
    margin-left: 50px;
}
/*-----------------------------------------------*/

/*-------------MAIN CONTENT----------------------*/
body {
    background: var(--clr-platinum);
}

h2,h3 {
    color: #33658A;
    line-height: 3rem;
}

#content {
    float: left;
    width: 75%;
    line-height: 2rem;
}

#content > article {
    background:white;
    box-shadow: 0px 0px 10px lightgrey;
    margin: .5rem;
    margin-left: 25px;
    padding: 2rem 3rem 2rem 3rem;
    border-radius: .5rem;
    text-align: justify;
}

section::after {  /*line break after every section*/
    content: "\A";
    white-space: pre;
}

footer {
    padding: 20px;
    color: white;
    background-color: var(--clr-header);
    text-align: center;
}

main {
    padding: 20px;
    overflow: auto;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: white;
    font-weight: bold;
}

/*-----------------------------------------------*/

/*---------------IMAGE & FLEXBOX-----------------*/
.image-steps {
    width: 50%;
    height: 250px;
    margin: 20px;
    border-radius: 2%;
}

.float-right {
    float: right;
    width: 50%;
    height: 250px;
}

.image-flex {
    height: 100%;
    width: 100%;
}

.img-container {
    width: 600px;
    border: .5rem var(--clr-gray);
}

.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}

.box {
    flex-basis: 33.333%;
    border: .5px solid var(--clr-gray);
}

.double {
    flex-basis: 50%;
}

/*-----------------------------------------------*/

/*-------------PROFILE CARD----------------------*/
aside {
    color:var(--clr-gray);
    float: right;
    width: 25%;
    padding-left: 20px;
}

.wrapper-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    top: 0px;
    justify-content: center;
}

.container {
    overflow: auto;
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    background-color: white;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    width: 280px;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.banner-img {
    position: absolute;
    background-image: url('../images/profile-bg.jpg');
    height: 10rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-img {
    width: 8rem;
    clip-path: circle(60px at center);
    margin-top: 4.5rem;
}

.name {
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.description {
    margin: .5rem 1rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
    text-align: justify;
}

.butt {
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: var(--clr-primary);
    padding: 1rem;
}

.butt a {
    font-size: 1rem;
    text-decoration: none;
    color: white;
}

.butt a:hover {
    color: white;
    font-size: 1.1rem;
}

/*-------------LAYOUT RESPONSIVENESS-----------------*/
@media screen and (max-width: 1024px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
    .img-container {
        width: 400px;
        border: .5rem var(--clr-gray);
    }
}

@media screen and (max-width: 800px) {
    .jumbotron {
        font-size: 15px;
    }
    .img-container {
        width: 200px;
        border: .5rem var(--clr-gray);
    }

    .image-steps {
        width: 75%;
        height: 250px;
    }
}

@media screen and (max-width: 800px) {
    .nav-item {
        font-size: 18px;
    }
}